*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 800px;
    border: 0px solid black;
    margin: 0px auto;
    background: white;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 50px;
}

.main-title {
    width: 800px;
    height: 100px;
    background: green;
    border: 0px solid black;
    margin: 0 auto;
    padding: 25px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36;
    color: wheat;
    text-align: center;
}


.links {
    background: green;
    display: inline-block;
    padding:10px 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links a {
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

 .links:hover {
    background-color: greenyellow;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    width: 400px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
 }